.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: grey;
    padding: 15px;
    justify-items: center;
}

.grid-container3>div {
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    width: 25vw;
    height: 50vh;
}

.plano {
    background-color: salmon;
}

.gradiente {
    background: linear-gradient(to right, salmon, aqua);
}

.imagen {
    background-image: url(../assets/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}