.grid-container4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: grey;
    padding: 15px;
}

.grid-container4>div {
    margin: 15px;
    padding: 15px;
    background-color: white;
}

h4 {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 24px;
}

h5 {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.overline-underline {
    text-decoration: overline underline;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: grey;
    padding: 15px;
}

.grid-container3>div {
    margin: 15px;
    padding: 15px;
    background-color: white;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.grid-container5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: grey;
    padding: 15px;
}

.grid-container5>div {
    margin: 15px;
    padding: 15px;
    background-color: white;
}

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: 'lucida handwriting', cursive;
}

.fantasy {
    font-family: fantasy;
}